<template>
  <div>
    <nav>
      <div class="logo">
        <NuxtLink to="/">KBR3.The Creator!</NuxtLink>
      </div>
      <div>
        <NuxtLink to="#" class="btn">Home</NuxtLink>
        <NuxtLink to="#" class="btn">Find a Doctor</NuxtLink>
        <NuxtLink to="#" class="btn">App</NuxtLink>
        <NuxtLink to="#" class="btn">Testimonials</NuxtLink>
        <NuxtLink to="#" class="btn">About us</NuxtLink>
      </div>
    </nav>
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
nav {
  @apply flex justify-between items-center py-2 px-10 fixed w-full bg-white shadow-lg;

  .logo {
    @apply p-4 text-xl font-medium;
  }

  .btn {
    @apply px-4 py-2 text-gray-500 rounded-lg hover:bg-emerald-100 hover:text-emerald-700;

    &.nuxt-link-exact-active {
      @apply bg-emerald-100 text-emerald-700;
    }
  }
}
</style>
